.about {
  @include breakpoint-up(medium) {
    width: 80%;
  }

  @include breakpoint-up(large) {
    // width: 60%;
  }

  &__title {
    background-color: $greyMetal;
    height: auto;
    text-align: center;
    letter-spacing: 5px;
    border-radius: 10px;
  }

  &__description {
    line-height: 1.5;
    font-family: "lato", sans-serif;
    font-weight: normal;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.225rem;

    @include breakpoint-up(large) {
      // width: 100%;
      display: flex;
      // flex-wrap: wrap;
      justify-content: center;
    }

    .col {
      @include breakpoint-up(large) {
        margin: 1rem;
        flex-basis: 100%;
      }

      .boat {
        display: flex;
        justify-content: center;
        img {
          margin-left: 3rem;
          height: 15.575rem;
        }
      }
    }

    span {
      font-family: "VikingstyleBold";
      letter-spacing: 5px;
      font-size: 1.85rem;
    }
  }
}
