.contact {
  background: url("../../img/glenn-porter-waypoint-medium.jpg") center center;
  background-size: cover;
  font-family: "lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  // min-height: 100vh;

  &__center {
    width: 95%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    border-radius: 1rem;
    min-height: 100px;

    @include breakpoint-up(medium) {
      width: 45%;
    }

    &--avatar {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        border-radius: 50%;
        width: 11.25rem;
        height: 11.25rem;
        margin-top: 5%;

        @include breakpoint-up(medium) {
          width: 12.5rem;
          height: 12.5rem;
          margin-left: 0;
        }
      }
    }

    &--content {
      padding: 0.3125rem;

      h1,
      p {
        font-weight: normal;
        letter-spacing: 1px;
      }

      p {
        font-size: 1.225rem;

        @include breakpoint-up(medium) {
          padding-left: 1rem;
          padding-right: 1rem;
          text-align: justify;
          text-justify: inter-word;
        }
      }

      h1 {
        color: hsl(39, 77%, 83%);
        font-family: "VikingstyleBold";
        letter-spacing: 5px;
      }

      h3 {
        margin-top: 20px;
        color: wheat;
        font-family: "VikingstyleBold";
        font-size: 2rem;
        letter-spacing: 5px;
      }
    }

    &--social {
      i {
        padding: 0 10px;
        font-size: 30px;
        color: $white;
        transition: 0.4s;
      }

      i:hover {
        color: $redDark;
      }
    }
  }
}
