// Colors
$white: hsl(0, 0%, 100%);
$greyLight: hsl(0, 2%, 44%);
$greyMetal: hsl(67, 7%, 26%);
$redDark: hsl(356, 100%, 23%);
$redBright: hsl(12, 100%, 35%);
$water: hsl(202, 71%, 56%);
$waterRal: hsl(200, 31%, 53%);

// Font sizes
$font-med: 1.525rem;
$font-small: 0.875rem;
