@font-face {
  font-family: "Vikingstyle";
  src: url("fonts/Norsebold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
}

.title {
  width: 50%;
  float: right;
}

h1 a {
  font-family: "Vikingstyle";
  color: #46473e;
  font-size: 250px;
  position: absolute;
  top: 100px;
  /* left: 50%; */
}

.ship-canvas {
  width: 50%;
  float: left;
}

canvas {
  position: absolute;
  top: 50%;
  left: 20%;
  width: 824px;
  height: 632px;
  transform: translate(-50%, -50%);
  border: 1px solid black;
}
